<nav class="navbar navbar-dark bg-primary navbar-expand-lg">
    <div class="container-fluid">
        <a href="/" class="navbar-brand">
            GuiaPress
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a href="/admin/categories" class="nav-link">Categorias</a>
            </li>
            <li class="nav-item">
                <a href="/admin/articles" class="nav-link">Artigos</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="/logout" class="nav-link">Deslogar</a>
            </li>
        </ul>
    </div>
</nav>